<div class="container-fluid">
    <h1 class="home-title"> Welcome to My Library </h1>
    <div class="row home-container">
      <div class="col-sm-6">
        {{#link-to 'books' class="home-button btn btn-default"}}LIBRARY COLLECTION{{/link-to}}
      </div>
      <div class="col-sm-6">
        {{#link-to 'new-book' class="home-button btn btn-default" }}ADD A NEW BOOK{{/link-to}}
      </div>
    </div>
</div>

<footer>
  <div class="container-fluid footer-container">
    <h5>&copy; You! 2016</h5>
  </div>
</footer>
