<div class="main-container">
  <nav class="navbar navbar-inverse">
    <div class="right">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'index' }}Home{{/link-to}}</li>
        <li>{{#link-to 'books'}}View Collection{{/link-to}}</li>
        <li>{{#link-to 'new-book'}}Add a Book{{/link-to}}</li>
      </ul>
    </div>
  </nav>

  {{outlet}}

  <div class="container-fluid footer-container">
    <h5>&copy; You! 2016</h5>
  </div>
</div>
