<div class="container-fluid add-book-container">
  <h2> Add a New Book </h2>
  {{new-book-form createBook="createBook" goToCollection="goToCollection"}}
  <!-- <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Title of Book:</label>
      <input type="text" class="form-control" name="book[title]" id="" placeholder="Book Title">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Author of Book:</label>
      <input type="text" class="form-control" name="book[author]" id="" placeholder="Book Author">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">Brief Description:</label>
      <textarea class="form-control" rows="3" name="book[description]" placeholder="Book Description"></textarea>
    </div>
    <div class="form-group">
      <label>Image of Book Cover:</label>
      <input type="text" name="book[coverUrl]" class="form-control" id="" placeholder="Cover Image URL">
    </div>
    <button type="submit" class="btn btn-default">Add Book!</button>
  </form> -->
</div>
